:host {
  width: 100%;
}

.navbar-content {
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: var(--max-width);
}

mat-toolbar {
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
  z-index: 1000;
}

.navbar-content-list {
  display: flex;
  gap: 8px;
  align-items: center;
}

mat-toolbar .mdc-button, mat-toolbar .mdc-icon-button {
  color: inherit;
}

.active-link {
  background: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
}
