:host {
  padding-right: 10px;
  overflow: auto;
}

.mat-mdc-list-item {
  &::before {
    display: none;
  }
}

.active-link {
  background: var(--mat-sys-primary-container);
}

.mat-mdc-list-item:hover {
  background: var(--mat-sys-primary-container);
}

.active-link .mat-icon {
  color: var(--mat-sys-primary);
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
}
