<div class="banner">
  <div class="banner-content">
    <h1>ЗАДАЧА ЛЦТ №9</h1>
    <h2>
      Сервис извлечения и индексирования информации<br />
      из образов архивных документов (Ретроконверсия)
    </h2>
    <a
      class="banner-link"
      mat-raised-button
      href="https://i.moscow/lct/hackatons/76227cbf450b46b1a4f9a5256b66adc2/ru/"
      target="_blank"
    >
      Описание задачи
      <mat-icon>dashboard</mat-icon>
    </a>
    <div class="banner-content-decor">09</div>
  </div>
</div>
<div class="info">
  <div class="mat-card">
    <h2>Ретроконвертер</h2>
    <p>— Доступен без регистрации</p>
    <p>— С помощью ИИ извлекайте текст и ключевые слова документа</p>
    <p>— Импортируйте данные как Json</p>
    <a mat-flat-button [routerLink]="converterUrl">
      Перейти к ретроконвертеру
      <mat-icon>article_shortcut</mat-icon>
    </a>
  </div>
  <div class="mat-card">
    <h2>База данных Ретроконвертера</h2>
    <p>— Создайте аккаунт и сохраняйте обработанные документы на дашборде</p>
    <p>— Смотрите и делитесь документами с другими пользователями</p>
    <p>— Привяжите к документу геоданные (todo)</p>
    <a mat-flat-button [routerLink]="dashboardUrl">
      Изучить дашбоард
      <mat-icon>dashboard</mat-icon>
    </a>
  </div>
</div>
